.lang_menu .selected_lang {
    cursor: pointer;
}
.lang_menu .selected_lang::after {
    content: "";
    display: inline-block;
    margin-left: 6px;
    width: 7px;
    height: 7px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #fbf4a1;
    opacity: .9;
    transition: .3s ease;
}
.lang_menu ul {
    z-index: 2;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #000000b8;
    position: absolute;
    top: 50px;
    right: -13px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
.lang_menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.lang_menu ul li:not(:last-child) {
    border-bottom: 1px solid lightgray;
}
.lang_menu ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
    display: block;
}
.lang_menu ul li:hover {
    background-color: #f2f2f2;
}
